<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecommerce.mapper.CartMapper">
    
    <resultMap id="BaseResultMap" type="com.ecommerce.entity.Cart">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="product_id" property="productId"/>
        <result column="product_spec" property="productSpec"/>
        <result column="quantity" property="quantity"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="findByUserIdAndProductId" resultMap="BaseResultMap">
        SELECT * FROM cart WHERE user_id = #{userId} AND product_id = #{productId}
    </select>

    <select id="findByUserId" resultMap="BaseResultMap">
        SELECT * FROM cart WHERE user_id = #{userId}
    </select>

</mapper>
